In [35]:
%reload_ext sql
%sql sqlite:///test.db

'Connected: None@test.db'

In [36]:
%sql select * from studs where firstname="george";

Done.

[('george', '"bokovikov"', 'kmbo-03-15')]