In [20]:
%reload_ext sql
%sql sqlite:///test.db

'Connected: None@test.db'

In [22]:
%sql select * from studs;

Done.

[('"george"', '"bokovikov"', '"kmbo-03-15"')]