In [2]:
%load_ext sql
%sql sqlite://

'Connected: None@None'

In [3]:
%%sql drop table if exists product;
create table product(
       pname        varchar primary key, -- name of the product
       price        money,               -- price of the product
       category     varchar,             -- category
       manufacturer varchar NOT NULL     -- manufacturer
);
insert into product values('Gizmo', 19.99, 'Gadgets', 'GizmoWorks');
insert into product values('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks');
insert into product values('MultiTouch', 203.99, 'Household', 'Hitachi');
insert into product values('SingleTouch', 149.99, 'Photography', 'Canon');

Done.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Лабораторная 2-1:
-------------

Простые табличные запросы

Задание #1
-----------

Попробуйте записать запрос, чтобы получить на выходе все продукты, с "Touch" в имени. Укажите их имя и цену и отсортируйте в алфавитном порядке по производителю

In [4]:
%sql select * from product;

Done.

[('Gizmo', 19.99, 'Gadgets', 'GizmoWorks'),
 ('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks'),
 ('MultiTouch', 203.99, 'Household', 'Hitachi'),
 ('SingleTouch', 149.99, 'Photography', 'Canon')]

Напишите запрос:

In [6]:
%sql select pname, price from product where pname like "%Touch%" order by manufacturer;

Done.

[('SingleTouch', 149.99), ('MultiTouch', 203.99)]

Напишите запрос, возвращающий уникальные названия компаний, которые делают продукцию Gizmo:

In [10]:
%sql select distinct manufacturer from product where pname like "%Gizmo%";

Done.

[('GizmoWorks',)]

Задание #2:
------------

_ORDER BY_

Попробуйте выполнить запросы, но сначала предположите, что они должны вернуть

In [7]:
%sql SELECT DISTINCT category FROM product ORDER BY category;

Done.

[('Gadgets',), ('Household',), ('Photography',)]

In [8]:
%sql SELECT category FROM product ORDER BY pname;

Done.

[('Gadgets',), ('Household',), ('Gadgets',), ('Photography',)]

In [9]:
%sql SELECT DISTINCT category FROM product ORDER BY pname;

Done.

[('Gadgets',), ('Household',), ('Photography',)]

In [12]:
%sql select * from product

Done.

[('Gizmo', 19.99, 'Gadgets', 'GizmoWorks'),
 ('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks'),
 ('MultiTouch', 203.99, 'Household', 'Hitachi'),
 ('SingleTouch', 149.99, 'Photography', 'Canon')]