Данное домашнее задание посвящено схеме базе данных, связанной с футбольным командами. Схема расположена в hw_diagram.jpg
## Описание таблиц 

### Positions 
Позиции игроков
id - уникальный идентификатор позиции 
Name - Название таблицы 

### Coaches 
Таблица тренеров 
id - уникальный идентификатор тренера
Name - имя тренера 

## Teams 
Таблица команд 
id - уникальный идентификатор  команды 
Name - имя команды 
Location - расположение команды 
Coach_id - идентификатор тренера 

### Players 
Таблица игроков 
Id - уникальный идентификатор игрока 
Name - имя игрока 
Age - возраст игрока 
Position_id - идентификатор позиции 
Team_id - идентификатор команды 
Start_date - дата начала игры в команде 

### PlayersArchive 
Архив по игрокам (информация о том, в какой команде игрок играл ранее) 
player_id - идентификатор игрока 
team_id - идентификатор команды 
start_date - дата начала игры 
end_date - дата окончания игры

# Задание 1
Реализовать перенакатываемые sql-скрипты по схеме hw_diagram, приложенного ниже.

In [4]:
%reload_ext sql
%sql sqlite:///hw4.db

'Connected: None@hw4.db'

In [5]:
%%sql   
pragma foreign_key=on;
DROP TABLE if exists Coaches;
CREATE TABLE Coaches (
    id integer(0,0) 
    Primary key,name Varchar(0,0));
DROP TABLE if exists Teams;
CREATE TABLE Teams (
    id integer primary key ,name varchar(0,0), 
    location varchar(0,0) , coach_id integer(0,0) ,foreign key(coach_id) references Coaches(id));
Drop table if exists Positions;
Create table Positions (
    id integer primary key,name varchar(0,0));
DROP TABLE if exists Players;
CREATE TABLE Players (
    id integer primary key , name varchar(0,0), 
    age integer , team_id integer  , position_id integer ,
    start_date data, foreign key(position_id) references Positions(id), 
    foreign key(team_id) references Teams(id));
Drop table if exists Players_Archive;
Create table Players_Archive (
    player_id integer , team_id integer ,start_date data, 
    end_date data , foreign key (player_id) references Players(id),
    foreign key (team_id) references Teams(id)) ;

Done.
Done.
0 rows affected.
Done.
0 rows affected.
Done.
0 rows affected.
Done.
0 rows affected.
Done.
0 rows affected.

[]

# Задание 2
Написать sql-скрипт, осуществляюший добавление всех возможных позиций игроков. (В данной задаче можно ограничится четырьмя - вратарь, защитник, полузащитник, нападающий)

In [6]:
%%sql
insert into Positions values (1, 'Goalkeeper');
insert into Positions values (2, 'defender');
insert into Positions values (3, 'midfielder');
insert into Positions values (4, 'forward');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [22]:
%sql Insert into Players(id,name,age,team_id,position_id,start_date)Values ('1','Genry','18','1','3','19-11-2012')

1 rows affected.

[]

# Задание 3
Написать функцию, осуществляющую добавление тренера. На вход функции подается имя тренера. При невозможности вставки функция должна обработать данное исключение и вывести пользователю информацию о проблеме

После написания функции необходимо добавить несколько тренеров для таблицы.

In [7]:
import sqlite3
db=sqlite3.connect('hw4.db')
def check_coach(name):
    cur = db.cursor()
    cur.execute('''select id from coaches where name = ?''',(name,))
    try:
        coach_id = cur.fetchone()[0]
        return coach_id;
    except TypeError:
        print('no such coach')
        return -1;
def ins(name):
    coach_id = check_coach(name)
    if coach_id != -1:
        return -1
    cur = db.cursor()
    cur.execute( '''select coalesce(max(id)+1, 1) from Coaches''')
    ID = cur.fetchone()[0]
    cur.execute('''insert into Coaches(id, Name) values(?,?)''', (ID, name))
    db.commit()

# Задание 4

Написать функцию, осуществляющую добавление команды. На вход функция принимает (имя команды, местоположение, имя тренера).
На выходе должна быть добавлена команда.

После написания функции необходимо добавить несколько команд

In [9]:
def insert_team(name, location, coachname):
    coach_id = check_coach(coachname)
    cur = db.cursor()
    cur.execute('''select coalesce(max(id) + 1, 1) from Teams''')
    ID = cur.fetchone()[0];
    cur.execute('''insert into Teams values(?,?,?,?)''', (ID, name, location, coach_id))
    db.commit()
insert_team('spartak', 'russia', 'dimon')
insert_team('lol', 'ow', 'jon')
insert_team('pot', 'ez', 'jonny')

no such coach
no such coach
no such coach

In [10]:
%sql select * from Teams

Done.

[(1, 'spartak', 'russia', -1),
 (2, 'spartak', 'russia', -1),
 (3, 'lol', 'ow', -1),
 (4, 'pot', 'ez', -1)]

# Задание 5

Написать функцию, осуществляющую обновление информации о команде. У функции на входе должен быть один обязательный параметр - название команды и два необязательных параметра - имя тренера и местоположение. При этом хотя бы один из необязательных параметров должен быть заполнен. Функция должна обновлять значение переданных необязательных параметров.

После написания функции вызовите данную функцию несколько раз

In [12]:
def check_coach(coachname):
    cur = db.cursor()
    cur.execute('''select id from coaches where name = ?''',(coachname,))
    try:
        coach_id = cur.fetchone()[0]
        return coach_id
    except TypeError:
        print('no such coach')
        return -1;
def upd(teamname, coachname):
    coach_id = check_coach(coachname)
    if coach_id == -1:
        return -1;
    cur = db.cursor()
    cur.execute('''update teams set name = ? where coach_id = ?''',(teamname, coach_id))
    db.commit()
upd('ttt','dimon')
upd('lll','jonny')

no such coach
no such coach

-1

In [18]:
%sql select * from Teams

Done.

[(1, 'spartak', 'russia', -1),
 (2, 'spartak', 'russia', -1),
 (3, 'lol', 'ow', -1),
 (4, 'pot', 'ez', -1)]

In [19]:
%sql select * from Players

Done.

[]

# Задание 6

Написать функцию, осуществляющую добавление нового футболиста в таблицу игроков. На входе (имя, возраст, название позиции, название команды, дата перехода в команду(необязательный параметр)). Если дата перехода не указана, то нужно использовать текущую дату. Предусмотреть различные ошибки (такие как неверное имя позиции, неверное название команды, возраст < 10 и > 50 и т.п.)

После написания функции необходимо добавить несколько игроков.

In [23]:
def check_position(position):
    cur = db.cursor()
    cur.execute('''select id from Positions where Name = ?''', (position,))
    try:
        pos_id = cur.fetchone()[0]
        print('found pos')
        return pos_id;
    except TypeError:
        print('no such position')
        return -1;
def check_team(name):
    cur = db.cursor()
    cur.execute('''select id from Teams where Name = ?''',(name,))
    try:
        t_id = cur.fetchone()[0]
        return t_id;
    except TypeError:
        print('no teamname')
        return -1;
def check_age():
    cur = db.cursor()
    cur.execute('''select id from Players where age between 10 and 50''')
    try:
        a_id = cur.fetchone()[0]
        print('found age')
        return a_id
    except TypeError:
        print('no such age')
        return -1; 
def check_player(plname):
    cur = db.cursor()
    cur.execute('''select id from Players where Name = ?''',(plname,))
    try:
        player_id = cur.fetchone()[0]
        print('found player')
        return player_id;
    except TypeError:
        print('no such player')
        return -1;
def insert_player(name,age,position,teamname,startdate):
    pos_id = check_position(position)
    team_id = check_team(teamname)
    player_id = check_player(name)
    age_id = check_age()
    if (pos_id == -1) or (team_id == -1) or (age_id == -1) or (player_id != -1):
        print('can not insert a player')
        return -1;
    cur = db.cursor()
    cur.execute( '''
    select coalesce(max(id)+1, 1) from Players''')
    ID = cur.fetchone()[0]
    cur.execute('''insert into Players(id,name,age,team_id,position_id,start_date) VALUES(?,?,?,?,?,?)''', 
                (ID, name, age, pos_id, team_id, startdate))
    db.commit()
insert_player('jon','19','Goalkeeper','spartak','19-07-1997')
%sql select * from Players

found pos
no such player
found age
Done.

[(1, 'Genry', 18, 1, 3, '19-11-2012'), (2, 'jon', 19, 1, 1, '19-07-1997')]

# Задание 7
Написать функцию для перевода игрока в другую команду. Данная функция должна осуществить архивирование текущей записи в таблице игроков в таблицу players_archive с заполнение end_date - датой начала игры за новую команду - 1 день. А также осуществлять изменение поля в таблице Players. При возникновении ошибки должен осуществляться полный откат транзакции.